//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW5A-LV25UG324C2/I1
//Device: GW5A-25
//Device Version: A
//Created Time: Fri 10 24 16:31:40 2025

IO_LOC "can_txd" H18;
IO_PORT "can_txd" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWM[3]" A9;
IO_PORT "PWM[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWM[2]" B9;
IO_PORT "PWM[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWM[1]" C14;
IO_PORT "PWM[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWM[0]" D14;
IO_PORT "PWM[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_mosi" P15;
IO_PORT "spi_mosi" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_clk" P18;
IO_PORT "spi_clk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_cs" P17;
IO_PORT "spi_cs" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "scl" V13;
IO_PORT "scl" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_txd2" N17;
IO_PORT "uart_txd2" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_txd" V8;
IO_PORT "uart_txd" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sda" U13;
IO_PORT "sda" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "extern_clk" N18;
IO_PORT "extern_clk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "can_rxd" H17;
IO_PORT "can_rxd" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "spi_miso" P16;
IO_PORT "spi_miso" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "uart_rxd" U8;
IO_PORT "uart_rxd" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rst_n" B16;
IO_PORT "rst_n" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "clk" T9;
IO_PORT "clk" PULL_MODE=NONE BANK_VCCIO=3.3;
