//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12 (64-bit)
//Part Number: GW5A-LV25UG324C2/I1
//Device: GW5A-25
//Device Version: A
//Created Time: Thu 11 06 13:07:59 2025

IO_LOC "O_ddr_ba[2]" D8;
IO_PORT "O_ddr_ba[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba[1]" A4;
IO_PORT "O_ddr_ba[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba[0]" D6;
IO_PORT "O_ddr_ba[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[13]" B2;
IO_PORT "O_ddr_addr[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[12]" A5;
IO_PORT "O_ddr_addr[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[11]" B6;
IO_PORT "O_ddr_addr[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[10]" E6;
IO_PORT "O_ddr_addr[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[9]" A2;
IO_PORT "O_ddr_addr[9]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[8]" D4;
IO_PORT "O_ddr_addr[8]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[7]" C6;
IO_PORT "O_ddr_addr[7]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[6]" C4;
IO_PORT "O_ddr_addr[6]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[5]" C8;
IO_PORT "O_ddr_addr[5]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[4]" B4;
IO_PORT "O_ddr_addr[4]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[3]" C7;
IO_PORT "O_ddr_addr[3]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[2]" B3;
IO_PORT "O_ddr_addr[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[1]" A6;
IO_PORT "O_ddr_addr[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[0]" A3;
IO_PORT "O_ddr_addr[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_odt" F7;
IO_PORT "O_ddr_odt" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cke" C5;
IO_PORT "O_ddr_cke" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_we_n" E8;
IO_PORT "O_ddr_we_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cas_n" F8;
IO_PORT "O_ddr_cas_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ras_n" G8;
IO_PORT "O_ddr_ras_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cs_n" E7;
IO_PORT "O_ddr_cs_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_reset_n" A7;
IO_PORT "O_ddr_reset_n" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_clk" D9,C9;
IO_PORT "O_ddr_clk" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[1]" F13;
IO_PORT "O_ddr_dqm[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[0]" F9;
IO_PORT "O_ddr_dqm[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[15]" A14;
IO_PORT "IO_ddr_dq[15]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[14]" B14;
IO_PORT "IO_ddr_dq[14]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[13]" D12;
IO_PORT "IO_ddr_dq[13]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[12]" C12;
IO_PORT "IO_ddr_dq[12]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[11]" F11;
IO_PORT "IO_ddr_dq[11]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[10]" E11;
IO_PORT "IO_ddr_dq[10]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[9]" A13;
IO_PORT "IO_ddr_dq[9]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[8]" C13;
IO_PORT "IO_ddr_dq[8]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[7]" A10;
IO_PORT "IO_ddr_dq[7]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[6]" F10;
IO_PORT "IO_ddr_dq[6]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[5]" C10;
IO_PORT "IO_ddr_dq[5]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[4]" A11;
IO_PORT "IO_ddr_dq[4]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[3]" G11;
IO_PORT "IO_ddr_dq[3]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[2]" G9;
IO_PORT "IO_ddr_dq[2]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[1]" B11;
IO_PORT "IO_ddr_dq[1]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[0]" A12;
IO_PORT "IO_ddr_dq[0]" IO_TYPE=SSTL15_I PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[1]" F12,E12;
IO_PORT "IO_ddr_dqs[1]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 DIFF_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[0]" D11,C11;
IO_PORT "IO_ddr_dqs[0]" IO_TYPE=SSTL15D_I PULL_MODE=NONE DRIVE=8 DIFF_RESISTOR=OFF BANK_VCCIO=1.5;
IO_LOC "can_txd" P17;
IO_PORT "can_txd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWM[3]" K17;
IO_PORT "PWM[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWM[2]" K18;
IO_PORT "PWM[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWM[1]" H17;
IO_PORT "PWM[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "PWM[0]" H18;
IO_PORT "PWM[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_mosi" U11;
IO_PORT "spi_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_clk" P16;
IO_PORT "spi_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_cs" U13;
IO_PORT "spi_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "scl" P18;
IO_PORT "scl" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_txd" V8;
IO_PORT "uart_txd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_slcs" M16;
IO_PORT "fx2_slcs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_pkt_end" L16;
IO_PORT "fx2_pkt_end" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_slrd" L15;
IO_PORT "fx2_slrd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_slwr" R11;
IO_PORT "fx2_slwr" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_sloe" N16;
IO_PORT "fx2_sloe" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_faddr[1]" N15;
IO_PORT "fx2_faddr[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_faddr[0]" M18;
IO_PORT "fx2_faddr[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txen" C2;
IO_PORT "rgmii_txen" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[3]" F1;
IO_PORT "rgmii_txd[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[2]" F2;
IO_PORT "rgmii_txd[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[1]" D1;
IO_PORT "rgmii_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[0]" D2;
IO_PORT "rgmii_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_tx_clk" C1;
IO_PORT "rgmii_tx_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "uart_tx" L18;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DAC_clk" C18;
IO_PORT "DAC_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DAC_data[7]" C17;
IO_PORT "DAC_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DAC_data[6]" G14;
IO_PORT "DAC_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DAC_data[5]" F14;
IO_PORT "DAC_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DAC_data[4]" D18;
IO_PORT "DAC_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DAC_data[3]" D17;
IO_PORT "DAC_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DAC_data[2]" G18;
IO_PORT "DAC_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DAC_data[1]" G16;
IO_PORT "DAC_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DAC_data[0]" F18;
IO_PORT "DAC_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "ADC_clk" K13;
IO_PORT "ADC_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sda" P15;
IO_PORT "sda" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[7]" T18;
IO_PORT "fx2_fdata[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[6]" T17;
IO_PORT "fx2_fdata[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[5]" U18;
IO_PORT "fx2_fdata[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[4]" U17;
IO_PORT "fx2_fdata[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[3]" V16;
IO_PORT "fx2_fdata[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[2]" U16;
IO_PORT "fx2_fdata[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[1]" V15;
IO_PORT "fx2_fdata[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fx2_fdata[0]" U15;
IO_PORT "fx2_fdata[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "extern_clk" N17;
IO_PORT "extern_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "can_rxd" N18;
IO_PORT "can_rxd" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "spi_miso" V13;
IO_PORT "spi_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "fx2_ifclk" T11;
IO_PORT "fx2_ifclk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "fx2_flagc" M14;
IO_PORT "fx2_flagc" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "fx2_flagb" N14;
IO_PORT "fx2_flagb" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "uart_rx" L17;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ADC_data[7]" K12;
IO_PORT "ADC_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ADC_data[6]" K14;
IO_PORT "ADC_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ADC_data[5]" J13;
IO_PORT "ADC_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ADC_data[4]" K16;
IO_PORT "ADC_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ADC_data[3]" K15;
IO_PORT "ADC_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ADC_data[2]" H14;
IO_PORT "ADC_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ADC_data[1]" H13;
IO_PORT "ADC_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "ADC_data[0]" F17;
IO_PORT "ADC_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "reset_n" B16;
IO_PORT "reset_n" IO_TYPE=SSTL15_I PULL_MODE=NONE BANK_VCCIO=1.5;
IO_LOC "clk_50M" T9;
IO_PORT "clk_50M" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "uart_rxd" U8;
IO_PORT "uart_rxd" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
